[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PramodIP
[access "refs/for/refs/*"]
	read = group user/PramodIP
	push = group user/PramodIP
	label-Code-Review = -2..+2 group user/PramodIP
	label-Verified = -1..+1 group user/PramodIP
	rebase = group user/PramodIP
	removeReviewer = group user/PramodIP
	submit = group user/PramodIP
[access "refs/heads/*"]
	read = group user/PramodIP
	create = group user/PramodIP
	push = +force group user/PramodIP
	pushMerge = group user/PramodIP
[access "refs/tags/*"]
	push = +force group user/PramodIP
	pushTag = group user/PramodIP
	pushSignedTag = group user/PramodIP
